/next-env.d.ts
/dist
/node_modules
/tsconfig.tsbuildinfo
/.next

/cypress/videos/
/cypress/screenshots/
/cypress/results/*

/prisma/database/

/.idea/.idea.mnestix-frontend.dir/.idea/

/.env
!.env.local
/.env*.local
/cypress-artifacts